

.app-container {
    /* max-width: 940px; */
    display: grid;
    margin-top: var(--app-header-size);

    main {
        min-height: calc(100vh - var(--app-header-size) - var(--app-footer-size));
    }
}


.app-header {
    height: var(--app-header-size);
    padding: .47rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.app-footer {
    grid-column-start: 1;
  
    height: var(--app-footer-size);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;

    display: flex;
    padding: 15px;
    justify-content: space-around;
            
}

@media (max-width: 800px) {
    .app-container {
        grid-template-columns: none;
    }
}

.page-center-grid {
    display: grid;
    justify-items: center;
}