
.input-container {
    width: auto;
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    input[type=text], 
    input[type=email], 
    input[type=number], 
    input[type=tel], 
    input[type=password] {
        padding: 10px;
        margin: 10px 0; // add top and bottom margin
        border: 0; // remove default border
        border-left: 1px solid #585858; // add only bottom border
        border-bottom: 1px solid #585858; // add only bottom border
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        width: 100%;
    }

    textarea {
        width: 100%;
        resize: vertical;
        padding: 15px;
        border-radius: 5px;
        border: 0;
        border-left: 1px solid #585858; // add only bottom border
        border-bottom: 1px solid #585858; // add only bottom border
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
        height: 150px;
    }

    input,
    textarea {
        font-family: inherit;
        font-size: inherit;
    }

}

