
.input-container {
    width: auto;

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
    button {
        /* remove default behavior */
        appearance: none;
        margin: 10px 0; // add top and bottom margin
        /* usual styles */
        padding: 10px;
        border: none;
        background-color: #3F51B5;
        color: #fff;
        font-weight: 600;
        border-radius: 5px;
        width: 100%;
        box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
    }

}


.loader {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    display: block;
    margin: 1px auto;
    position: relative;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
    33% {
        background: #FFF;
        box-shadow: -24px 0 #FF3D00, 24px 0 #FFF;
    }

    66% {
        background: #FF3D00;
        box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    }

    100% {
        background: #FFF;
        box-shadow: -24px 0 #FFF, 24px 0 #FF3D00;
    }
}