.header {
    .hamburger {
        background-color: transparent;
        border: none;
        font-family: inherit;
        padding: 20px 20px;

        span {
            background: black;
            display: block;
            height: 2px;
            position: relative;
            width: 24px;
        }

        span::before,
        span::after {
            background: black;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
        }

        span::before {
            top: 5px;
        }

        span::after {
            top: -5px;
        }

        .active {
            background: transparent;
        }

        .active::before {
            transform: rotate(-45deg);
            top: 0;
        }

        .active::after {
            transform: rotate(45deg);
            top: 0;
        }
    }

}



.dropdown {
    position: relative;

    .dropdown__menu {
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 0.15em 0.25em rgba(black, 0.25);
        padding: 0.5em 0;
        min-width: 15ch;
        transform: rotateX(-90deg) translateX(0%);
        // transform-origin: top center;
        opacity: 0.3;
        transition: all 280ms ease-in 120ms;
        height: 10;

        a {
            color: #444;
            display: block;
            padding: 0.5em;
        }
    }

    .dropdown__title {
        background-color: transparent;
        border: none;
        font-family: inherit;
    }

    .dropdown__active {
        opacity: 1;
        transform: rotateX(0) translateX(0%);
        transition: all 280ms ease-out 120ms;
        visibility: visible;
    }
    
}

nav {
    ul {
        list-style: none;
    }
    >ul {
        transition:  all 280ms ease-out 120ms;
       
        a, .dropdown__title {
            text-decoration: none;
            text-align: center;
            display: inline-block;
            // color: blue;
            font-size: 1rem;
            padding: 0.75rem;
        } 
           
        a:hover {
            background-color: var(--gray);
        }
    }
}

// Small screen
@media (max-width: 768px) {
    nav {
        >ul {
            width: 100vw;
            background-color: whitesmoke;
            position: fixed;
            top: var(--app-header-size);
            left: 0;
            opacity: 0.3;
            visibility: hidden;
            text-align: center;
        }

        .active {
            opacity: 1;
            visibility: visible;
        }
    }

    .dropdown {
        .dropdown__menu {
            max-height: 0;
            transition: all 0.15s ease-out 110ms;
            padding: 0em 0;
        }

        .dropdown__active {
            max-height: 500px;
            transition: all 0.25s ease-in 110ms;
        }
    }
}

// Big screen
@media (min-width: 768px) {
    nav {
        >ul {
            display: flex;
            flex-direction: row;
        }
    }

    .hamburger {
        display: none;
    }
}
