

.video::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(243, 230, 251, 0) 99%);
}
.video {
   max-height: 20rem;
   overflow: hidden;
}

