

.article {
    width: 90vw;
    max-width: var(--page-section-container-max-width);
    border-radius: 5px;
    background-color: var(--primary-tint-90);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    margin-bottom: 2rem;
    
    figure {
        position: relative;
        width: 100%;
        height: clamp(100px, 30vw, 350px);
        overflow: hidden;
        border-radius: 5px 5px 0 0;
    }
    
    figure::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: linear-gradient(0deg, var(--primary-tint-90) 0%, rgba(243, 230, 251, 0) 80%);
    }

    >a:hover {
        position: relative;
        width: 100%;
        height: auto;

       
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            background-color: #00000060;
        }
    }

    div {
        padding: 10px;

        h2 {
            margin-top: 10px;
        }
    }
} 

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary-tint-80);
    border-radius: 0 0 5px 5px;

    a:hover {
        border-bottom: 2px solid var(--primary-color);
    }
}

.author {
    font-size: 0.75rem;
    font-style: italic;
}

.tags {
     flex-direction: row;
     justify-content: end;

    a {
        padding: 5px;
        background-color: var(--primary-color);
        color: var(--primary-tint-90);
        margin-left: 15px;
        border-radius: 5px;
    }

    a:focus {
        background-color: var(--primary-tint-60);
        color: var(--primary-shade-80)
    }

    a:hover {
        background-color: var(--primary-shade-60);
        color: var(--primary-tint-90);
    }
    
   
 }
